<navigation></navigation>

<section class="section-form" id="register-form">
  <div class="form">
    
      <h2>Register</h2>
      <hr>
      <p class="lead">Already a member? Please <span class="red-orange-color"><a href="login">log in</a></span> instead.</p>
        <form ng-submit="registerCtrl.onSubmit()">
          <div class="form-group">
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="registerCtrl.credentials.name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="registerCtrl.credentials.email">
          </div>
          <div class="form-group">
            <label for="gender" id="gender-label">I am a</label>
            <select name="gender" ng-model="registerCtrl.credentials.gender">
              <option value="choose" selected>Choose One</option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
            <label for="preferredGender" id="gender-pref-label">looking for a</label>
            <select name="preferredGender" ng-model="registerCtrl.credentials.preferredGender">
              <option value="choose" selected>Choose One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="registerCtrl.credentials.password">
          </div>
          <div>
          <input type="submit" class="btn"></input>
          </div>
        </form>
     
    </div>
  </section>
  

                   