/* COLORS */
/*
red-orange (adventurous)
rgb(255, 109, 51)

peach (charismatic)
rgb(255, 181, 49)

baby blue (rational)
rgb(77, 205, 244)

purple thoughtful
rgb(181, 129, 242)

seafoam green (mellow)
rgb(108, 239, 195)

salmon (social)
rgb(252, 112, 112)

yellow (reliable)
rgb(249, 236, 78)
*/
@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:400;src:local("Source Sans Pro"),local("Source Sans Pro"),url(https://s3.amazonaws.com/traitify-cdn/assets/fonts/source-sans-pro.woff) format("woff")}@font-face{font-family:"Adelle Sans Bold";font-style:bold;font-weight:800;src:local("Adelle Sans Bold"),url(https://s3.amazonaws.com/traitify-cdn/assets/fonts/adelle-sans-bold.woff) format("woff")}@font-face{font-family:"Adelle Sans";font-style:normal;font-weight:400;src:local("Adelle Sans"),url(https://s3.amazonaws.com/traitify-cdn/assets/fonts/adelle-sans.woff) format("woff")}


* {
	font-family: "Source Sans Pro", sans-serif !important;
	/*text-align: center;*/
}


h1, h2, h3 {
	text-align: center;
}



h3 {
	font-size: 24px;

}

hr {
	margin: 1em 0 1em 0;

}

.bottom-border:after {
    display: block;
    height: 2px;
    background-color: rgb(252, 112, 112);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

p {
	font-size: 1rem;

	text-align: justify;
}

.section {
	padding-top: 3em;
}

.long-copy {
    line-height: 1.5;
    width: 80%;
	margin: 0 auto;
	font-size: 1rem;
	max-width: 860px;
}

.red-orange-color {
	color: rgb(255, 109, 51);
}


/* --------------------------------------------------------------- */
/* HOME */
/* --------------------------------------------------------------- */

.home-page {

	height: 75%;
	background-position: center;
	background-size: cover;
	position: static;
	background-attachment: fixed;

}

.video-container{
    
	width: 100%;
    overflow:hidden;
    display:block;
    max-height: 700px;
	position: relative;
	
}



#video-bg {
	/*position: fixed;*/
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;
	background: transparent url(video-bg.jpg) no-repeat;
	background-size: cover;
}

#video-mask {
	position: absolute;
	background-image: linear-gradient(grey, black);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    top: 0;
	
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .7;
}


.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
	letter-spacing: .5px;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
	border-bottom: 2px transparent solid;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
	color: whitesmoke;
	border-bottom: 2px rgb(252, 112, 112) solid;	
}

.hero-text {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	color: whitesmoke;
	font-size: 4rem;
	letter-spacing: 1px;
	
}

i {
	text-align: center;
}

.box {
    padding: 3%;
}

.wrapper {
	background-color: whitesmoke;
}

#features-heading p {
	line-height: 1.5;
	padding: 3%;
	margin: 0 auto;
	font-size: 1rem;
}




.icon-big {
	color: rgb(255, 109, 51);
	font-size: 6em;
	display: inline-block;
	width: 100%;
	text-align: center;

}

/* --------------------------------------------------------------- */
/* FOOTER */
/* --------------------------------------------------------------- */


footer p {
	text-align: center;
	color: rgb(255, 109, 51);
	padding: 2em;
	font-size: .8em;
	margin-bottom: 0;

}



/* --------------------------------------------------------------- */
/* FORMS */
/* --------------------------------------------------------------- */

.section-form {
	background: -webkit-linear-gradient(#46627f, #34495e);
	background: -o-linear-gradient(#46627f, #34495e);
	background: linear-gradient(#46627f, #34495e);
	height: 100vh;
	position: relative;

}


.form {
	padding: 4.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: whitesmoke;
	border: 1px lightgrey solid;
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.24);
	transition: .3s;
	border-radius: .25rem;
    

}



.lead {
	text-align: center;
}

.red-orange-color a {
	color: rgb(255, 109, 51);
	text-decoration: none;
}

.red-orange-color a:hover {
	color: rgba(255, 109, 51, .8);
	text-decoration: none;
}

.btn {
    display: block; 
	width: 100%;
	margin: 0 auto;   
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: .25rem;
	background-color: rgb(255, 109, 51);
    color: #fff;
    margin-right: 15px;
    transition: background-color 0.2s, border 0.2s;
	text-align: center;
	margin-top: 30px;
}

.btn:hover,
.btn:active {
    background-color: rgba(255, 109, 51, .8);
}

/* --------------------------------------------------------------- */
/* PROFILE */
/* --------------------------------------------------------------- */

#profile-section {
	width: 30%;
}

#profile-image {
	width: 100%;
}

#profile-card {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;

}


/* --------------------------------------------------------------- */
/* ASSESSMENTS */
/* --------------------------------------------------------------- */

#breakdown-section, #love-section {
/*	background-color: #022946;
	color: whitesmoke;*/

	background-color: #fcfcfc;
}



#love-section {
	margin-bottom: 5em;
}


/* --------------------------------------------------------------- */
/* MATCHES */
/* --------------------------------------------------------------- */

.match-index-photo {
	width: 100%;
}

.card {
	width: 27%;
	height: 25em;
	max-height: 25em;
	margin: 0 2em 0 2em;
	padding-left: 0;
	padding-right: 0;
}

.card-block {
	text-align: center;
	word-wrap: break-word;
}

.card-text {
	text-align: center;
}

